[submodule "cairo"]
	path = cairo
	url = ../../cpp-port/cairo
[submodule "freetype"]
	path = freetype
	url = ../../cpp-port/freetype
[submodule "pixman"]
	path = pixman
	url = ../../cpp-port/pixman
[submodule "clipper"]
	path = clipper
	url = ../../cpp-port/clipper
	branch = main
[submodule "poly2tri"]
	path = poly2tri
	url = ../../cpp-port/poly2tri
	branch = main
